<script type="text/javascript">
  Searcher = {
    maxScroll: 3000,

    init: function() {
      $(document).keypress(Searcher.onKeyPress);
      $("#searchbox").focus(Searcher.onSearchFocus);
      $("#searchbox").blur(Searcher.onSearchBlur);
    },

    onHoverOverCard: function(event) {
      $(event.target).css("z-index", "1000");
      $(event.target).animate({
          width: 280,
          top: -50,
          left: -50
      }, 100);
    },

    onHoverOutCard: function(event) {
      var card = $(event.target);
      card.animate({
          width: 155,
          top: 0,
          left: 0
      }, 100, function() { card.css("z-index", "0"); });
    },

    focusSearchbox: function(event) {
      event.preventDefault();
      $("#searchbox").focus();
    },

    newSearch: function() {
      $("#searchResults").html("");
      Searcher.maxScroll = 3000;
      Searcher.search(0);
    },

    search: function(offset) {
      $("#searchbox").blur();

      var query = $("#searchbox").val();
      var queryField = $("#searchField").val();

      var queries = {};
      queries[queryField] = query;

      var breadcrumbs = $("#searchBreadcrumbs input");
      $.each(breadcrumbs, function(index, element) {
        queries[$(element).attr("name")] = $(element).val();
      });

      $.ajax({
          type: "POST",
          url: "/search/search",
          data: {
            queries: queries,
            offset: offset
          },
          success: function(html) {
            $("#searchResults").append(html);
            $("#searchResults .card").mouseover(Searcher.onHoverOverCard);
            $("#searchResults .card").mouseout(Searcher.onHoverOutCard);
            Searcher.attachScrollListener();
          }
      });
    },

    onSearchFocus: function() {
      $("#searchbox").val("");
      $("#searchbox").removeClass("grayText");
    },

    onSearchBlur: function() {
      if ($("#searchbox").val() != "")
        return;

      $("#searchbox").addClass("grayText");
      $("#searchbox").val('type "/" to search');
    },

    attachScrollListener: function() {
      if ($("#loadMore").val() == "none")
        $(document).unbind("scroll");
      else
        $(document).bind("scroll", Searcher.onScroll);
    },

    onScroll: function(event) {
      if (document.body.scrollTop > Searcher.maxScroll) {
        Searcher.maxScroll += 3000;
        var offset = $("#loadMore").val();
        $("#loadMore").remove();
        Searcher.search(offset);
      }
    },

    onKeyPress: function(event) {
      if ($("#searchbox:focus").size() > 0 && event.which != 13)
        return;

      //console.log(event.which);

      switch (event.which) {
        case 13: Searcher.newSearch(); break; // return
        case 47: Searcher.focusSearchbox(event); break; // /
        case 116: $("#searchText").click(); break; // t
      }
    }
  }

  $(document).ready(Searcher.init);

  function addCardToDeck(id) {
   $("<li><input type='text' value='1' />" + id + "</li>").appendTo($("#decklist"));
  }

</script>

<section id="searchSection">
  <div id="searchboxDiv">
    <input id="searchField" type="hidden" value="name" />
    <input id="searchbox" class="grayText" value='type "/" to search' type="text" />
  </div>
  <div id="searchInstructions">
    <input type="checkbox" id="searchText" />
    <label for="searchText">Search card text (t)</label>
  </div>
</section>

<section id="resultsSection">
  <div id="searchResults">
  </div>
  <%= render :partial => "deckmetadata" %>
</section>
