<script>
</script>

<h1>The Decks!</h1>
<% @decks.each do |deck| -%>
  <div>
    <h3> <%=h deck.name %> </h3>
      <ol>
        <% deck.cards.each do |card| -%>
          <li> <%=h card.name %> </li>
        <% end -%>
      </ol>
  </div>
<% end -%>
