<section id="allDecksList">
  <a href="/">Build a Deck</a>
  <h1>All Decks</h1>
  <ul>
    <% @decks.each do |deck| %>
      <li><a href=<%= "/deck/view/" + deck.deck_hash %> ><%=h deck.name %></a></li>
    <% end %>
  </ul>
</section>
