<% if @user %>
  <div class="allDecksBox">
    <h1>My Decks</h1>
    <%= render :partial => "alldecks",
         :locals => { :decks => @user.decks }
    %>
  </div>
<% end %>
<div class="allDecksBox">
  <h1>Public Decks</h1>
  <%= render :partial => "alldecks",
       :locals => { :decks => Deck.public_decks }
  %>
</div>
