<script>
</script>
<a href="/"> Home!</a>

<h1>The Decks!</h1>
<% @decks.each do |deck| %>
  <div>
    <a href=<%= "/deck/view/" + deck.deck_hash %> >
      <%=h deck.name %>
    </a>
  </div>
<% end %>
