    <div id="resultsSection">
      <div id="searchResults">
        <%= render :partial => "/search/card_grid", :locals => {:cards => @deck.cards, :load_more => 100, :offset => 0}  %>
      </div>
    </div>
