<script>
  window.onresize = function(event) {
    repositionDeckMetadata = function(minLeft, maxLeft) {
      var width = parseInt($("#deckmetadata").css("width"));
      if (window.innerWidth > maxLeft + width) {
        $("#deckmetadata").css("left", maxLeft);
      }
      else if (window.innerWidth > (minLeft + width)) {
        $("#deckmetadata").css("left", (window.innerWidth - width));
      }
      else {
        $("#deckmetadata").css("left", (minLeft));
      }
    };
    repositionDeckMetadata(680, 880);
  }

  window.onload = function(event) {
    repositionDeckMetadata = function(minLeft, maxLeft) {
      var width = parseInt($("#deckmetadata").css("width"));
      if (window.innerWidth > maxLeft + width) {
        $("#deckmetadata").css("left", maxLeft);
      }
      else if (window.innerWidth > (minLeft + width)) {
        $("#deckmetadata").css("left", (window.innerWidth - width));
      }
      else {
        $("#deckmetadata").css("left", (minLeft));
      }
    };
    repositionDeckMetadata(680, 880);
  }

</script>

<div id="searchSection">
    <div id="resultsSection">
      <div id="searchResults">
        <%= render :partial => "/search/card_grid", :locals => {:cards => @deck.cards, :load_more => 100, :offset => 0}  %>
      </div>
    </div>
</div>
<%= render :partial => "/search/deckmetadata", :locals => {:deck => @deck, :viewing_deck => true} %>
