* {
  margin: 0px;
  padding: 0px;
}

*[hidden=true] {
  display: none;
}

body {
  font-size: 12px;
  font-family: Helvetica;
}

.bold {
  font-weight: bold;
}

.card_skeleton {
  border: solid 1px black;
}

.card_skeleton #title_bar > *,
.card_skeleton #type_bar > * {
  display: table-cell;
  height: 14px;
  width: 100%;
  padding: 0 2px;
}

.card_skeleton #type_bar {
  font-size: 10px;
  border-width: 0 0 1px 0;
  border-color: black;
  border-style: solid;
}

.card_skeleton #image_box {
  height: 60px;
  width: 100%;
  border-width: 1px 0 1px 0;
  border-color: grey;
  border-style: dashed;
}

.card_skeleton #text_box {
  display: table-cell;
  width: 100%;
  font-size: 9px;
  overflow: hidden;
  padding: 2px;
}

.card_skeleton .power_toughness {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.grayText { color: #AAAAAA; }


#main {
  width: 100%;
  margin: auto;
  margin-bottom: 140px;
  margin-top: 40px;
}

#login {
  position: absolute;
  top: 10px;
  left: 600px;
  text-align: right;
  width: 318px;

  #loginInputs {
    display: -moz-box;
    display: -webkit-box;
    -moz-box-align: end;
    -webkit-box-align: end;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    margin-top: 5px;
    input {
      display: block;
      visibility: hidden;
      width: 125px;
      margin-bottom: 3px;
    }
    button {
      width: 125px;
      visibility: hidden;
    }
  }
}

#searchSection {
  margin-top: 10px;
  margin-left: 60px;

  #deckView {
    margin-top: 70px;
  }

  #searchboxDiv {
    #searchbox {
      width: 500px;
      height: 30px;
      font-size: 1.4em;
      display: block;

      &.grayText { color: #D2D2D2; }
    }
  }

  #searchInstructions {
    margin-top: 10px;
    .column {
      display: inline-block;
    }
    td {
      font-size: 0.7em;
      padding-right: 10px;
      color: #AAAAAA;
      .hotkey {
        font-family: Georgia;
        color: #000000;
        font-size: 1.0em;
        padding-right: 2px;
      }
    }
  }
}

#resultsSection {
  #searchBreadcrumbs {
    margin-top: 20px;
    margin-bottom: 20px;

    .breadcrumb {
      display: inline-block;
      padding-left: 10px;

      .breadcrumb_mark {
        padding-right: 10px;
      }
    }

    .breadcrumb_backspace {
      color: #AAAAAA;
      padding-left: 30px;
      font-size: 0.8em;
    }
  }

  #searchResults {
    width: 787px;

    .card {
      display: inline-block;
      position: relative;
      top: 0px;
      width: 155px;
      height: 220px;
      img {
        position: relative;
        width: 155px;
        top: 0px;
        left: 0px;
      }

    }
  }
}

#deckmetadata {
  position: fixed;
  left: 930px;
  top: 0px;
  width: 300px;
  height: 100%;
  padding: 5px;
  background-color: #ddd;

  #deckname {
    width: 100%;
    height: 25px;
    font-size: 1.1em;
    padding-left: 4px;
    margin-top: 35;
  }

  #decklist {
    list-style-type: none;
    margin: 10px 0px;

    li {
      padding: 2px 2px;

      input {
        width: 20px;
     	margin-right: 3px;
      }

    }

  }

}

#allDecksList {
  margin-left: 40px;

  h1 { padding: 10px 0px;}

  ul {
    margin-left: 20px;
  }
}
