* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 12px;
  font-family: Helvetica;
}

#main {
  width: 100%;
  margin: auto;
}

#searchSection {
  position: absolute;
  top: 10px;
  left: 10px;
  #searchboxDiv {
    text-align: center;
    #searchbox {
      width: 500px;
      height: 30px;
      font-size: 1.4em;
      display: block;
      margin: auto;
      margin-bottom: 10px;

      &.grayText { color: #D2D2D2; }
    }
  }

  #searchInstructions {
    text-align: center;
  }
}

#resultsSection {
  #searchBreadcrumbs {
    margin-bottom: 10px;
  }

  #searchResults {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 787px;

    .card {
      display: inline-block;
      position: relative;
      width: 155px;
      height: 220px;
      img {
        position: absolute;
        width: 155px;
        top: 0px;
        left: 0px;
      }
    }
  }
}

#deckmetadata {
  position: fixed;
  left: 877px;
  top: 80px;
  width: 200px;
  height: 400px;
  padding: 5px;
  background-color: #ddd;

  #decklist {
    list-style-type: none;

    li {
      padding: 2px;

      input {
        width: 20px;
     	margin-right: 3px;
      }

    }

  }

}
