@mixin gradient($bottom, $top) {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, $bottom),
    color-stop(1, $top)
   );
   background-image: -moz-linear-gradient(
     center bottom,
     $bottom 0%,
     $top 100%
   );
}

* {
  margin: 0px;
  padding: 0px;
}

*[hidden=true] {
  display: none !important;
}

*[invisible=true] {
  visibility: hidden !important;
}

body {
  font-size: 12px;
  font-family: Helvetica;
  color: #444;
  overflow-x: hidden;
}

a:link, a:visited {
  color: #6f76ba;
}

.bold {
  font-weight: bold;
}

.card_skeleton {
  border: solid 1px black;
  height: 100%;
}

.card_skeleton .title_bar > *,
.card_skeleton .type_bar > * {
  display: table-cell;
  height: 14px;
  width: 100%;
  padding: 0 2px;
}

.card_skeleton .type_bar {
  font-size: 10px;
  border-width: 0 0 1px 0;
  border-color: black;
  border-style: solid;
}

.card_skeleton .image_box {
  height: 60px;
  width: 100%;
  border-width: 1px 0 1px 0;
  border-color: grey;
  border-style: dashed;
}

.card_skeleton .text_box {
  display: table-cell;
  width: 100%;
  font-size: 9px;
  overflow: hidden;
  padding: 2px;
}

.card_skeleton .power_toughness {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding-right: 2px;
}

.grayText { color: #AAAAAA; }


#main {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 0px;
}

#login, #shortcuts {
  position: absolute;
  display: none;
  z-index: 1000000;
  top: 40px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-top: 0px;
}

#shortcuts {
  text-align: left;

  .hotkey {
    float: left;
    width: 20px;
  }

  div {
    margin: 3px;
  }
}

#login {
  text-align: center;
  display: none;

  #loginInputs {
    display: -moz-box;
    display: -webkit-box;
    -moz-box-align: end;
    -webkit-box-align: end;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;

    input {
      width: 95%;
      height: 1.5em;
      margin: 5px 0px 5px 0px;
      margin-bottom: 3px;
      border: 0px;
    }

    #confirm {
      display: none;
    }

    button {
      margin: 5px 0px 5px 0px;
      width: 125px;
      background-color: #ddd;
      border: 1px solid #bbb;
    }
  }

  #loginMessage {
    margin-top: 5px;
    &.success { color: green; }
    &.failure { color: red; }
  }
}

#pageBox {
  width: 95%;
  margin: auto;
  height: 100%;
}

#searchSection {
  margin-top: 0px;
  margin-left: 231px;
  height: 100%;
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;

  #deckView {
    margin-top: 70px;
  }

  #header {
    height: 40px;
    min-width: 695px;
    width: 100%;
    @include gradient(#ccc, #eee);
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    text-align: right;
    padding-right: 10px;

    #searchboxDiv {
      float: left;
      height: 18px;
      padding: 8px 0px 0px 0px;
      margin: 0px;
      margin-left: 10px;
      #searchbox {
        margin: 0px 3px 0px 0px;
        padding: 0px;
	padding-left: 3px;
	border: 0px;
        width: 170px;
        height: 24px;
        font-size: 1.4em;
        display: inline-block;


        &.grayText { color: #D2D2D2; }
      }
      select {
        width: 95px;
      }
    }

    #nav {
      margin: 0px;
      padding: 0px;
      padding-top: 18px;
    }

  }

  #advancedSearchTray {
    display: table;
    background-color: #eee;
    border: 1px solid #ccc;
    border-top: 0px;
    width: 350px;
    height: 20px;

    * {
      float: left;
      display: table-cell;
    }
  }

  #formatRow > *{
    padding-right: 20px;
    color: #666666;
  }

}

.card_skeleton[noResult] {
  margin-left: 100px;
}

#resultsSection {
  position: relative;
  padding: 1px 10px 10px 9px;
  max-height: 100%;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  min-width: 500px;
  max-width: 850px;
  #searchBreadcrumbs {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0px;

    .breadcrumb {
      display: inline-block;
      padding-left: 10px;

      .breadcrumb_mark {
        padding-right: 10px;
      }
    }

    .breadcrumb_backspace {
      color: #AAAAAA;
      padding-left: 30px;
      font-size: 0.8em;
    }
  }

  #searchResults {

    .card {
      display: inline;
      position: relative;
      margin: 2px;
      float: left;
      top: 0px;
      width: 155px;
      height: 221px;
      img {
        position: relative;
        width: 155px;
        top: 0px;
        left: 0px;
      }
      #card_selector {
        color: red;
        font-size: 24px;
        font-weight: bolder;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 10px;
        z-index: 500;
        height: 30px;
        width: 30px;
      }
    }
  }
}

#deckmetadata {
  position: fixed;
  top: 0px;
  width: 230px;
  height: 100%;
  padding: 0;
  background-color: #eee;
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;

  #deckcontent {
    padding: 0px 10px 0px 10px;
    max-height: 100%;
    overflow-y: auto;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
  }

  #deckheader {
    width: 100%;
    height: 40px;
    @include gradient(#ccc, #eee);

    #logo {
      margin: 10px 0px 0px 10px;
    }
  }

  #deckname {
    width: 100%;
    border: 0px;
    height: 25px;
    font-size: 1.1em;
    padding-left: 4px;
    margin-top: 10px;
  }

  #decklist {
    list-style-type: none;
    margin: 0px 4px 0px 4px;

    h4 { padding-top: 10px; }

    li {
      padding: 2px 2px;

      input {
        width: 20px;
        margin-right: 3px;
      }
    }

    #manaCurve, #colorSpread {
      display: -moz-box;
      display: -webkit-box;
      margin-top: 3px;

      .curveCount {
        text-align: center;
        padding: 0px 5px;
      }
    }
  }

  #deckLinks {
    margin-top: 30px;
  }
}

.allDecksBox {
  margin: 10px 20px;

  h1 {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
  }
  ul {
    margin-left: 20px;
  }
}
