<html>
  <head>
    <title>Magic: The Gathering</title>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "proxy", :media => "print, screen" %>
   <script src="/javascripts/jquery-1.4.4.min.js"></script>
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>

