<html>
  <head>
    <title>Magic: The Gathering</title>
    <script src="/javascripts/jquery-1.4.4.min.js"></script>
    <script src="/javascripts/application.js"></script>
    <%= stylesheet_link_tag "main" %>
    <%= render :partial => "layouts/analytics" %>
  </head>
  <body>
    <div id="main">
      <%= render :partial => "layouts/login" %>
      <%= yield %>
    </div>
  </body>
</html>

